*{
    padding: 0;
    margin: 0;
}
/* sets the default*/

h1{ font-family: 'Trebuchet MS'; } 
div{ font-family: 'Trebuchet MS';}
p{ font-family: 'Trebuchet Ms';}

.homeindex{
    background-image: linear-gradient(to bottom, rgb(223, 204, 186) 0px, rgb(223, 204, 186) 700px, rgb(245, 237, 229) 700px, rgb(245, 237, 229) 1920px, rgb(223, 204, 186) 1920px, rgb(223, 204, 186) 3000px );
    /*background colours */
    min-height: 320vh; /*set how much the page expands */

}




.navbar{ /* main navigation top bar */
    overflow:hidden;
    background-color: rgb(223, 204, 186);
    padding: 10px 13px;
    position: fixed; /*remains on screen despite scrolling*/
    top: 0; /* at the top */
    width: 100%;
    z-index: 99; /*highest priority over images to stay fixed*/
}

.navbar a { /* words inside the navbar*/
  float: left;
  display: block;
  color: rgb(65, 65, 65);
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 40px;
}

.navbar a:hover { /* changes colour when hovering cursor*/
    color: rgb(255, 63, 45);
    /* to add box colurs: background-color: rgb(236, 85, 26);*/    
}

.navbar a.active { 
    color: rgb(255, 63, 45);
}

.heading {
    font-size: 70px;
    color: rgb(65, 65, 65);
    position: absolute;
    left: 100px;
    top: 450px;
}

.line{
    width: 80%;
    height: 5px; /* thickness of line */
    border: 0 none;
    position: absolute;
    left: 90px;
    top: 540px;
    background-color: rgb(255, 63, 45);
}



.summary {
    font-size: 35px;
    color: rgb(65, 65, 65);
    position: absolute;
    left: 100px;
    top: 560px;
}

.birdscreen{
    position:absolute;
    right: 500px;
    top: 55px;

    animation: fadeIn 0.5s;
    animation-name: fadingin;
   
}
.hand{
    position:absolute;
    right:150px;
    top:250px;
    animation: fadeIn 0.5s;
    animation-name: fadingin2;
}

.shapes1{
    position:absolute;
    right:600px;
    top:570px;
}

.redsquare{
    position:absolute;
    right:150px;
    top:170px;
}

.cloud{
    position:absolute;
    right:100px;
    top:100px;
    animation: fadeIn 0.5s;
    animation-name: fadingin2; /* set animation variable */
}


/*animations*/
@keyframes fadingin{
    0% { opacity: 0; right:400px;}
    100% { opacity: 1; }

}
@keyframes fadingin2{
    0% { opacity: 0; right:110px;}
    100% { opacity: 1; }

}



.boxtl {
    height:300px;
    width:500px;
    background:rgb(223, 204, 186);
    position: absolute;
    left: 700px;
    top: 1000px;

}


.boxbl {
    height:300px;
    width:500px;
    background:rgb(223, 204, 186);
    position: absolute;
    left: 700px;
    top: 1450px;

}

.boxtr {
    height:300px;
    width:500px;
    background:rgb(223, 204, 186);
    position: absolute;
    left: 1300px;
    top: 1000px;

}

.boxbr {
    height:300px;
    width:500px;
    background:rgb(223, 204, 186);
    position: absolute;
    left: 1300px;
    top: 1450px;

}


.titletl {
    font-size: 30px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 700px;
    top: 1320px;
}

.titlebl {
    font-size: 30px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 700px;
    top: 1770px;
}

.titletr {
    font-size: 30px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 1300px;
    top: 1320px;
}

.titlebr {
    font-size: 30px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 1300px;
    top: 1770px;
}

.titlemain {
    font-size: 30px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 100px;
    top: 1050px;
}


.whitebox {
    height:500px;
    width:800px;
    background:rgb(245, 237, 229);
    position: absolute;
    left:100px;
    top:2000px;
    z-index: -1; /*puts layer behind others*/
}

.whitebox2 {
    height:500px;
    width:800px;
    background:rgb(245, 237, 229);
    position: absolute;
    right:100px;
    top:2000px;
    z-index: -1;
}

.whitetitle {
    font-size: 50px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 100px;
    top: 2520px;
}

.whitetitle2 {
    font-size: 50px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 1010px;
    top: 2520px;
}

.desc {
    font-size: 30px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 100px;
    top: 2600px;
}

.desc2 {
    font-size: 30px;
    position:absolute;
    color: rgb(65, 65, 65);
    left: 1010px;
    top: 2600px;
}

.gallerypage{
    background-color: rgb(223, 204, 186);
    min-height: 320vh; 

}
.aboutmepage{
    background-color: rgb(223, 204, 186);
    min-height: 150vh; 

}

.headingabouteme {
    font-size: 70px;
    color: rgb(65, 65, 65);
    position: absolute;
    left: 200px;
    top: 150px;
}


.contactpage{
    background-color: rgb(223, 204, 186);
    min-height: 100vh; 

}

.headingcontact {
    font-size: 70px;
    color: rgb(65, 65, 65);
    position: absolute;
    left: 200px;
    top: 150px;
}

.contactdetails{
    font-size: 23px;
    color: rgb(65, 65, 65);
    position: absolute;
    left: 210px;
    top: 300px;
    line-height: 3; /* sapcing between lines */
}

